footer{
    transition: .5s;
    margin: auto;
    max-width: 90%;
    padding: 3rem;
    border-radius: 12px 12px 0px 0px;
    backdrop-filter: blur(10px) saturate(180%);
    background: rgba(0,0,0, .6);
    margin-top: 5rem;
    height: 5%;
    display: flex;
    justify-content: space-between;
}

.footer-left{
    
}

.footer-right{
    text-align: end;

}

li{
    list-style: none;
}

footer:hover{
    transition: 1s;
    max-width:100%;
}
