.logo{
    
    display: flex;
    margin-left: 20px;
    min-width: 19rem;
    width: 25%;
    h1{
        background: rgba(0,0,0, 0.4);
        border-radius: 12px;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        margin-left: 1vw;
        color: #ff5722;
        user-select: none; 
        transition: .2s;
    }
    img{
        
        transition: .2s;
    }

}

.logo:hover{
    h1{

        border-radius: 12px;
        background-color: #ff5722;
        color: black;
        transition: .6s;
        scale: 1.1;
    }

    img{
        transform: translateX(15px);
        transition: .6s;
    }
}