.address{
    width: 100%;
    border-radius: 12px;
    transition: .3s;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    a{
        font-size: 1vw;
        margin: auto;
        margin-top: 3rem;
        width: 50%;
    }
}

.address:hover, .yandex:hover{
    transition: 1s;
    a{
        font-size: 1vw;
        padding: 0.2rem;
        background-color: #ff5722;
        color: black;
        scale: 1.2;
        margin: auto;
        margin-top: 3rem;
        width: 35%;
    }
}



.yandex{
    overflow:hidden;
    border-radius: 12px;
    border:3px solid transparent;
    transition: 1s;
    margin: auto;
    @media (width >= 1920px){
        scale: 1.25;
    }
}


