.price-text{

}

.price-content{
    z-index: 10;
    display: flex;
    justify-content: center;
    background-color: #ff5622d2;
    margin-right:4rem;
    margin-left: 2rem;
    height: 95%;
    padding-bottom: 1rem;
    img{
        margin-top: 2rem;
        scale: 0.8;
        transition: .2s;
    }
}

.price-content:hover{
    img{
        transition: .6s;
        scale: 1.25 2;
        transform: translateY(-0.5rem);
    }
    scale: 0.8 0.5;
}.price-text{

}

.price-content{
    z-index: 10;
    display: flex;
    justify-content: center;
    background-color: #ff5622d2;
    margin-right:4rem;
    margin-left: 3rem;
    height: 95%;
    padding-bottom: 1rem;
    img{
        margin-top: 2rem;
        scale: 0.8;
        transition: .2s;
    }
}

.price-content:hover{
    img{
        transition: .6s;
        scale: 1.5 2.4;
        transform: translateY(-0.5rem);
    }
    scale: 0.8 0.5;
}