
 .flip-card {
    margin-bottom: 8rem;
    position: relative;
    background-color: transparent;
    height: 100%;
    width: 100%;
    scroll-snap-align: center;
    border-radius: 12px;
    border: 1px solid transparent;
    overflow: hidden;
  }
  

  .flip-card-inner {
    margin: auto;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  



 
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  

  .flip-card-front {
    z-index: -1;
    border: transparent;
    overflow: hidden;
    img{
      
      width: auto;

    }
  }
  

  .flip-card-back {
    overflow:hidden;
    border-radius: 12px;
    border:3px solid transparent;
    height: 89.5%;
    width: 35%;
    overflow: hidden;
    border-radius:12px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px) saturate(120%);
    h1{
      margin: 0;
      font-size: 3rem;
      z-index: 10;
    }
    
    li{
      margin: 0;
      text-align: center;
      font-size: 1.5rem;
      list-style: none;
      z-index: 10;
    }
  } 

  .rizhi{

  }



